<template>
    <div class="z-0 hero-height relative pt-20 pb-32 sm:pb-40 xs:pt-10 sm:pt-24 lg:pt-32 lg:pb-56">
        <div class="absolute inset-0">
          <carousel class="relative hero-height" :transition="4000" :autoplay="4000" :wrap-around="true" :items-to-show="1">
            <slide v-for="slide in hero_images" :key="slide" class="relative">
              <img class="block relative object-cover hero-height w-full " :src="'/storage/'+slide" alt="carousel"/>
            </slide>
            <template #addons>
            </template>
          </carousel>
        </div>
  
        <div class="absolute inset-0 bg-gray-800 bg-opacity-75"/>
        <div class="relative max-w-screen-2xl mt-14 margin-top-10-percent mx-auto px-4 sm:px-6 lg:px-8 flex items-center justify-center">
          <div class="relative sm:text-center text-center w-full lg:max-w-4xl mx-auto">
             <transition appear name="list-complete-item">
                  <h1 class=" list-complete-item transform duration-500 xs:mb-4 sm:mb-4  text-white text-5xl leading-8 sm:text-7xl text-center font-extrabold lg:text-6xl lg:leading-none lg:max-w-2xl lg:mx-auto">{{ __('Search') }} <span class="text-green-600">{{ __('Works') }}</span></h1>
              </transition>
              <transition appear name="list-complete-item">
                <p class="mt-6 text-gray-200 font-medium text-xl leading-6 sm:text-2xl sm:leading-7">{{ __('Hero image description') }}</p>
              </transition>
               <transition appear name="search">
                 <div class="p-4 flex-row pt-2 lg:max-w-xl  mx-auto justify-center shadow-sm hover:shadow-inner text-gray-600">
                  <svg xmlns="http://www.w3.org/2000/svg" class="text-center mx-auto text-green-600 mt-2 animate-bounce h-10 w-8" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 14l-7 7m0 0l-7-7m7 7V3" />
                  </svg>
                    <form @submit.prevent="submit" class="flex relative justify-center  ">
                      <input class="w-full p-2 border-2 border-gray-300 bg-white h-14  px-6 pr-16 rounded-lg text-lg focus:outline-none"
                      type="search" name="search" v-model="form.search" :placeholder="__('Title of the book, report, subject')">
                      
                      <button type="submit" class="bg-green-600 h-14 absolute right-0 top-0 outline-none">
                      <svg class="mr-4  ml-2 mb-2 text-gray-100 h-5 w-8  fill-current" xmlns="http://www.w3.org/2000/svg"
                          xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px"
                          viewBox="0 0 56.966 56.966" style="enable-background:new 0 0 56.966 56.966;" xml:space="preserve"
                          width="512px" height="512px">
                          <path
                          d="M55.146,51.887L41.588,37.786c3.486-4.144,5.396-9.358,5.396-14.786c0-12.682-10.318-23-23-23s-23,10.318-23,23  s10.318,23,23,23c4.761,0,9.298-1.436,13.177-4.162l13.661,14.208c0.571,0.593,1.339,0.92,2.162,0.92  c0.779,0,1.518-0.297,2.079-0.837C56.255,54.982,56.293,53.08,55.146,51.887z M23.984,6c9.374,0,17,7.626,17,17s-7.626,17-17,17  s-17-7.626-17-17S14.61,6,23.984,6z" />
                      </svg>
                      </button>
                  </form>
                </div>
            </transition>
          </div>
        </div>
      </div>
      <section class="pb-5 bg-gray-50 sm:-mt-24">
        <div class="container mx-auto px-4">
          <div class="flex flex-wrap">
            <div class="transform duration-500 hover:-translate-y-2 lg:pt-10 pt-6 w-full md:w-4/12 px-4 text-center">
              <div
                class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg"
              >
                <div class="px-4 py-4 flex-auto">
                  <div
                    class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-red-400"
                  >
                <svg className="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path strokeLinecap="round" strokeLinejoin="round" strokeWidth={2} d="M12 6.253v13m0-13C10.832 5.477 9.246 5 7.5 5S4.168 5.477 3 6.253v13C4.168 18.477 5.754 18 7.5 18s3.332.477 4.5 1.253m0-13C13.168 5.477 14.754 5 16.5 5c1.747 0 3.332.477 4.5 1.253v13C19.832 18.477 18.247 18 16.5 18c-1.746 0-3.332.477-4.5 1.253" /></svg>  </div>
                  <h6 class="text-xl sm:text-base lg:text-xl font-semibold">+{{ this.work_count['reports_count'] }} {{ __('Student Reports') }}</h6>
                </div>
              </div>
            </div>
            <div class="transform duration-500 hover:-translate-y-2 w-full md:w-4/12 px-4 text-center">
              <div
                class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg"
              >
                <div class="px-4 py-4 flex-auto">
                  <div
                    class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-blue-400"
                  >
                    <i class="fas fa-retweet"></i>
                    <svg className="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path strokeLinecap="round" strokeLinejoin="round" strokeWidth={2} d="M12 6.253v13m0-13C10.832 5.477 9.246 5 7.5 5S4.168 5.477 3 6.253v13C4.168 18.477 5.754 18 7.5 18s3.332.477 4.5 1.253m0-13C13.168 5.477 14.754 5 16.5 5c1.747 0 3.332.477 4.5 1.253v13C19.832 18.477 18.247 18 16.5 18c-1.746 0-3.332.477-4.5 1.253" /></svg>
                  </div>
                  <h6 class="text-xl font-semibold sm:text-base lg:text-xl">+{{ this.work_count['books_count'] }} {{ __('Referenced Books')}}</h6>
                </div>
              </div>
            </div>
            <div class="transform duration-500 hover:-translate-y-2 pt-6 lg:pt-10 lg:pt-1 w-full md:w-4/12 px-4 text-center">
              <div
                class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg"
              >
                <div class="px-4 py-4 flex-auto">
                  <div
                    class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-green-400"
                  >
                  <svg className="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path strokeLinecap="round" strokeLinejoin="round" strokeWidth={2} d="M7 21h10a2 2 0 002-2V9.414a1 1 0 00-.293-.707l-5.414-5.414A1 1 0 0012.586 3H7a2 2 0 00-2 2v14a2 2 0 002 2z" /></svg></div>
                  <h6 class="text-xl font-semibold sm:text-base lg:text-xl">+{{ this.work_count['subjects_count'] }} {{ __('Subjects') }}</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
            
</template>

<style>
  .list-complete-item {
    transition: all 1s;
   }
  .list-complete-item-enter-active {
    transition: all 0.8s ease-out;
  }

  .list-complete-item-leave-active {
    transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
  }

  .list-complete-item-enter-from,
  .list-complete-item-leave-to {
    transform: translateX(20px);
    opacity: 0;
  }

   .search {
    transition: all 1s;
   }
  .search-enter-active {
    transition: all 0.8s ease-out;
  }

  .search-enter-from,
  .search-leave-to {
    transform: translateX(20px);
    transform: translateX(-20px);
    opacity: 0;
  }
</style>

<script>
import 'vue3-carousel/dist/carousel.css';
import { Carousel, Slide, Pagination, Navigation } from 'vue3-carousel';

export default {
  props: {
    work_count : Array,
    hero_images : Array
  },
    data() {
          return {
              form: {
                  search: null,
                  work_type: 'all',
              },
          }
        },
   methods: {
        submit() {
          this.$inertia.get('/works/'+this.form.work_type+'/'+this.form.search)
        },

    },
    components : {
      Carousel,
      Slide,
      Pagination,
      Navigation,
    },
  setup () {}
}
</script>
