<template>
    <app-layout>
        <Hero :work_count="this.work_count" :hero_images="this.hero_images" />  
        <div class="py-8 mt-2 sm:py-8 mr-5 ml-5">
            <works 
            :width="true" 
            data-aos="fade-up"
            :works="worksList"
            :title="'Our Latest Works'"
            :second_title="'Some recent works added in our library'"
             />
             <testimonials :testimonials="testimonials" data-aos="fade-up" />        
        </div>
        <Chat />
    </app-layout>
</template>

<script>
    import AppLayout from '@/Layouts/AppLayout'
    import Works from '@/Components/Works'
    import Testimonials from '@/Components/Testimonials'
    import Chat from '@/Components/ChatIcon'
    import Hero from './Hero'


    export default {
        components: {
            AppLayout,
            Hero,
            Works,
            Testimonials,
            Chat
         },
        mounted() {
        console.log("Index Mounted !");
        },
        props: {
            canLogin: Boolean,
            canRegister: Boolean,
            laravelVersion: String,
            phpVersion: String,
            works : Object,
            testimonials : Object,
            work_count : Array,
            hero_images : Array,
        },
        data() {
            return {
                worksList : this.works
            }
        },
    }
</script>
