<template>
    <div>
        <div class="text-lg xl:text-xl mb-2">
            <span class="font-semibold">{{__('ISBN')}}: </span>
            <span class="text-gray-700">
            {{ myWork.ISBN ? myWork.ISBN : __('Not Availlable')  }}
            </span>
        </div>

        <div class="text-lg xl:text-xl mb-2">
            <span class="font-semibold">{{__('Publisher')}}: </span>
            <span class="text-gray-700">
            {{ myWork.publisher.name ? myWork.publisher.name : __('Not Availlable') }}
            </span>
        </div>
        
        <div class="text-lg xl:text-xl mb-2">
            <span class="font-semibold">{{__('Number of Pages')}} : </span>
            <span class="text-gray-700">
            {{ myWork.number_of_pages ? myWork.number_of_pages : __('Not Availlable') }}
            </span>
        </div>
        
        <div class="text-lg xl:text-xl mb-2">
            <span class="font-semibold">{{__('Language')}}: </span>
            <span class="text-gray-700">
            {{ myWork.language ? myWork.language : __('Not Availlable')  }}
            </span>
        </div>

        <div class="text-lg xl:text-xl mb-2">
            <span class="font-semibold">{{__('Dewey Code')}}: </span>
            <span class="text-gray-700">
            {{ myWork.ddc_code ? myWork.ddc_code : __('Not Availlable') }}
            </span>
        </div>

        <div class="text-lg xl:text-xl mb-2 mr-2">
            <span class="font-semibold">{{__('Description')}}: </span>
            <span class="text-gray-700">
            {{ myWork.description ? myWork.description : __('Not Availlable') }}
            </span>
        </div>
    </div>
</template>

<script>
export default {
    props : {
        work : Object
    },
    data() {
        return {
            myWork : this.work
        }
    },
}
</script>