<template>
    <div>
        <div class="text-lg xl:text-xl mb-2">
            <span class="font-semibold">{{__('Academic Year')}}: </span>
            <span class="text-gray-700">
            {{ myWork.academic_year ? myWork.academic_year : __('Not Availlable') }}
            </span>
        </div>

        <div class="text-lg xl:text-xl mb-2">
            <span class="font-semibold">{{__('Level')}}: </span>
            <span class="text-gray-700">
            {{ myWork.level.title ? myWork.level.title : __('Not Availlable') }}
            </span>
        </div>

        <div class="text-lg xl:text-xl mb-2">
            <span class="font-semibold">{{__('School')}}: </span>
            <span class="text-gray-700">
            {{ myWork.school.abbr ? myWork.school.abbr : __('Not Availlable') }}
            </span>
        </div>

        <div class="text-lg xl:text-xl mb-2">
            <span class="font-semibold">{{__('Field')}}: </span>
            <span class="text-gray-700">
            {{ myWork.field.title ? myWork.field.title+'('+myWork.field.abbr+')' : __('Not Availlable')  }}
            </span>
        </div>
        
        <div class="text-lg xl:text-xl mb-2">
            <span class="font-semibold">{{__('Number of Pages')}} : </span>
            <span class="text-gray-700">
            {{ myWork.number_of_pages ? myWork.number_of_pages : __('Not Availlable')  }}
            </span>
        </div>
        <div class="text-lg xl:text-xl mb-2">
            <span class="font-semibold">{{__('Language')}}: </span>
            <span class="text-gray-700">
            {{ myWork.language ? myWork.language : __('Not Availlable')  }}
            </span>
        </div>

        <div class="text-lg xl:text-xl mb-2">
            <span class="font-semibold">{{__('Description')}}: </span>
            <span class="text-gray-700">
            {{ myWork.description ? myWork.description : __('Not Availlable')  }}
            </span>
        </div>
    </div>
</template>

<script>
export default {
    props : {
        work : Object
    },
    data() {
        return {
            myWork : this.work
        }
    },
}
</script>