<template>
  <app-layout>
    <InnerPageHero image-url="/dist/images/banner-book-details.png" title="Work Research" />
    <div class="text-xl container text-center mx-auto px-4 sm:px-0 py-8 sm:py-10">
        {{ __('Welcome') }}
    </div>
    <div class="mx-auto sm:flex  pt-2 mb-4 gap-2 ml-5 mr-5">
        <div class="sm:w-full md:w-1/4 lg:w-1/5 sticky sm:col-span-1 rounded border-gray-300 dark:border-gray-700 border-2 shadow-xl">
            <side-menu
              :is_search="this.is_search"
              :works="works"
              :curWorks="curWorks"
              :selected_type="cur_selected_type" 
              @onUpdateWork="updateWorksSider"
             >
            </side-menu>
        </div>

        <div class="sm:w-full md:w-3/4 lg:w-4/5 sticky max-h-full sm:col-span-4 border-2 shadow-xm mx-auto rounded">
           
            <!--Sort Bar component-->
            <SortBar
              :class="{'hidden': this.enable_sort==false && this.is_search ==false,'flex': this.enable_sort==true || this.is_search}"
              ref="sort_bar"
              class="xs:w-1/2 sm:w-5/6 lg:w-3/5 xl:1/4"
              :curWorks="curWorks"
              @onSortWork="updateWorks"
            >
            </SortBar>
            <!--End Sort Bar component-->
            
             <div class="mt-2">
                <div class="flex justify-center flex-wrap">
                  <transition-group  name="list-complete-item" mode="out-in">
                    <div v-for="work in curWorks" v-bind:key="work.id" class="list-complete-item transform justify-center duration-500 lg:mb-4 sm:mb-4 hover:-translate-y-1 my-1 px-1 xs:w-full md:w-1/2 lg:my-4 lg:px-2 lg:w-1/3 xl:w-1/4">
                        <work class="work_element" :width="false" :work="work" />
                    </div>
                     <div class="flex justify-center w-full">
                        <button v-if="this.maxWorks.lenght <= this.curWorks.lenght"  @click="loadMoreWork()" class="bg-green-600 animate-pulse p-1 rounded-md text-white text-md m-2 uppercase hover:text-green-800">{{__('show more')}}</button>
                      </div>
                  </transition-group>
                </div>
                  
            </div>
        </div>
    </div>
  </app-layout>
</template>

<style>
.list-complete-item {
  transition: all 1s;
  display: inline-block;
 }
.list-complete-item-enter-active {
  transition: all 0.3s ease-out;
}

.list-complete-item-leave-active {
  transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
}

.list-complete-item-enter-from,
.list-complete-item-leave-to {
  transform: translateX(20px);
  opacity: 0;
}
</style>

<script>
import InnerPageHero from "@/Components/InnerPageHero";
import Work from "@/Components/Work";
import SideMenu from "@/Components/SideMenu";
import SortBar from "@/Components/SortBar";
import AppLayout from "@/Layouts/AppLayout";


export default {
  components: {
    InnerPageHero,
    AppLayout,
    SideMenu,
    Work,
    SortBar
  },
  props: {works:Object,selected_type : String, is_search : Boolean},
   data() {
      return {
        loadMore: true,
        page: 1,
        pageSize: 20,
        maxWorks : 20,
        curWorks : this.works,
        enable_sort : false,
        cur_selected_type : this.selected_type,
       }
    },
    methods: {
      loadMoreWork() {
       axios.get('https://mydigitallibrary.test/fetch_works/'+(this.page)+'/'+this.pageSize)
          .then(res => {
            this.works = res.data[0];
            this.maxWorks = res.data[1];
            this.page+=1;

          })
          .catch(error => {
            console.log(error);
          });
      },
      
      updateWorksSider(newWorks){
        var self = this;
        console.log(newWorks);
        self.curWorks = newWorks;
        this.$refs.sort_bar.updateWorks(newWorks);
        this.enable_sort = true;
      },

      updateWorks(newWorks){
        var self = this;
        console.log(newWorks);
        self.curWorks = newWorks;
      }

    },
};
</script>