@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.hero-height {
    height: calc(100vh - 5rem);
}


@screen sm {
    #navbar .nav-link {
        @apply text-current text-gray-800;
    }
    .hero-height {
        @apply h-screen;
    }
}

@screen sm {
    .hero-height {
        @apply h-screen;
    }
}
