<template>
  <app-layout>
     <InnerPageHero image-url="/dist/images/innerPageHeroAbout.jpg" title="About Us" />

    <section class="relative pt-12 pb-5 bg-blueGray-50">
      <div class="items-center flex flex-wrap">
        <div class="w-full md:w-4/12 ml-auto mr-auto px-4">
          <img alt="..." class="max-w-full rounded-lg shadow-lg" src="/dist/images/register-bg_2.jpg">
        </div>
        <div class="w-full md:w-7/12 ml-auto mr-auto px-4">
          <div class="md:pr-12">
            <div class="text-green-600 p-3 text-center inline-flex items-center justify-center w-16 h-16 mb-6 shadow-lg rounded-full bg-green-300 mt-8">
              <i class="fas fa-rocket text-xl"></i>
            </div>
            <h3 class="text-3xl font-semibold"><span class="ml-2 text-3xl">My Digital <span class="text-primary text-3xl">Library</span></span></h3>
            <p class="mt-4 text-lg leading-relaxed text-blueGray-500">
            {{__("MyDigitaLibrary is a platform that mainly aims to improve the daily life of students and teachers of universities in their knowledge quarters. It breaks the barriers of the face-to-face library in our universities and is portable. The objective of this platform is to allow its members to be able to consult (read) the books no matter where they are just by having a smartphone or a computer connected to the internet. So whether we are on vacation or at home, we can always enjoy our library and its resources.")}}        
            </p>

            <p class="mt-4 text-lg leading-relaxed text-blueGray-500">
              {{__("MyDigitaLibrary manages three(3) categories of works which are books, reports (internship report, thesis, project presentation report), Subjects.")}}
            </p>
            <ul class="list-none mt-6">
              <li class="py-2">
                <div class="flex items-center">
                  <div>
                    <span class="text-xs font-semibold inline-block py-2 px-2 uppercase rounded-full text-green-600 bg-green-200 mr-3"></span>
                  </div>
                  <div>
                    <h4 class="text-blueGray-500">
                      <span class="font-semibold">{{__("Books")}}</span> : {{__("We manage the books and classify them according to the Dewey classification.Here we have subtypes like newspapers, books, magazines.")}}
                    </h4>
                  </div>
                </div>
              </li>
              <li class="py-2">
                <div class="flex items-center">
                  <div>
                    <span class="text-xs font-semibold inline-block py-2 px-2 uppercase rounded-full text-green-600 bg-green-200 mr-3"></span>
                  </div>
                  <div>
                    <h4 class="text-blueGray-500">
                      <span class="font-semibold">{{__("Reports")}}</span> : {{__("In this collection we store the written works of the students. They are classified by years, school, field.")}}
                    </h4>
                  </div>
                </div>
              </li>
              <li class="py-2">
                <div class="flex items-center">
                  <div>
                    <span class="text-xs font-semibold inline-block py-2 px-2 uppercase rounded-full text-green-600 bg-green-200 mr-3"></span>
                  </div>
                  <div>
                    <h4 class="text-blueGray-500">
                      <span class="font-semibold">{{__("Subjects")}}</span> : {{__("In this collection we have the subjects classified by years, school, field and semester.")}}
                    </h4>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>

  </app-layout>
</template>

<script>
import InnerPageHero from "@/Components/InnerPageHero";
import AppLayout from "@/Layouts/AppLayout";

export default {
  components: {
    InnerPageHero,
    AppLayout
  },

  props: {},

  setup() {},
};
</script>