<template>
    <div>
        <div class="h-0"> 
            <div class="fixed bottom-0 right-0 w-16 h-16 mr-2 mb-16 cursor-pointer shadow-lg rounded-full transform duration-500 hover:-translate-y-1 my-1 px-1" id="box_btn">
               <a :href="'https://api.whatsapp.com/send?phone='+this.$page.props.library.phone1"> <img class="" src="/dist/images/whatsapp-chat.png"></a>
            </div>
            <div id="note_box"
                class="hidden rounded-lg bg-white shadow-xl fixed bottom-0 right-0 w-64 h-64 mr-5 mb-32">
                <div class="bg-gray-900 text-white text-xl p-2 cursor-pointer rounded-lg" onclick="close_note()">NOTES</div>
                <div class="p-2">
                    <textarea class="bg-gray-100 w-full h-32 p-2 focus:outline-none"
                        placeholder="Write here !"></textarea>
                </div>
                <button class="bg-teal-500 text-white p-2 mx-2 absolute right-0">SAVE</button>
            </div>
        </div>

    </div>
</template>

<script>
    // var note_box = document.getElementById("note_box");
    // var box_btn = document.getElementById("box_btn");
    // box_btn.addEventListener("click", () => {
    //     console.log("clicked");
    //     console.log(note_box.style.display);
    //     if (note_box.classList.contains("hidden"))
    //     {
    //         note_box.classList.remove("hidden");
    //     }
    //     else
    //         note_box.classList.add("hidden");
    // });
    // function close_note()
    // {
    //     note_box.classList.add("hidden");
    // }
    // export default {
        
    // }
</script>