<template>
  <div class="relative">
    <!--First section show the number of the result -->
    <div class="text-center mx-auto mt-2">
        <span class="text-center xs:text-sm text-2xl">{{ updatedWork.length }}</span>
        <span class="text-center xs:text-xl text-base mt-2 ml-2">{{ updatedWork.length >= 2 ?  'RESULTS' : 'RESULT' }} </span>     
    </div>
     <!--First section show the number of the result -->

    <!--Advance search section -->
    <div class="content-center mt-4">
      <vue-collapsible-panel-group >
        <vue-collapsible-panel  class="" :expanded="true">
            <template #title>
              {{ __('Advanced Search') }}
            </template>
            <template #content>
              <form @submit.prevent="submit" class="flex flex-col">
                <input class="w-full p-2 border-2 border-gray-300 bg-white h-10  rounded-lg text-sm focus:outline-none"
                type="search" name="search" v-model="form.search" placeholder="Work title" autocomplete="search">
                <button type="submit" class="content-center text-center w-auto ml-4 mr-4 mt-3 rounded-md transform duration-500 hover:scale-105 bg-green-600 text-theme-2">
                    <span class="text-center">Search</span>
                 </button>
            </form>
            </template>
        </vue-collapsible-panel >
        <vue-collapsible-panel class="" :expanded="true">
            <template #title>
               {{ __('Filter Work') }}
            </template>
            <template #content>
               <div class="flex flex-col">
                  <label v-if="is_search" for="radio-a" class="flex items-center">
                    <span class="">
                      <input id="radio-a" @change="filteredTypeWork" v-model="selectedTypeWork" value="All" type="radio" name="radio" class="">
                    </span>
                    <span class="ml-4">All</span>
                  </label>
                  <label for="radio-b" class="flex items-center">
                    <span class="">
                      <input id="radio-b"  @change="filteredTypeWork" v-model="selectedTypeWork" value="Book" type="radio" name="radio" class="">
                    </span>
                    <span class="ml-4">{{  __('Books') }}</span>
                  </label>
                  <label for="radio-c" class="flex items-center">
                    <span class="">
                      <input id="radio-c"  @change="filteredTypeWork" v-model="selectedTypeWork" value="Report" type="radio" name="radio" class="">
                    </span>
                    <span class="ml-4">{{  __('Reports') }}</span>
                  </label>
                  <label for="radio-d" class="flex items-center">
                    <span class="">
                      <input id="radio-d"  @change="filteredTypeWork" v-model="selectedTypeWork" value="Subject" type="radio" name="radio" class="">
                    </span>
                    <span class="ml-4">{{  __('Subjects') }}</span>
                  </label>
                </div>
            </template>
        </vue-collapsible-panel>

        <vue-collapsible-panel v-if="selectedTypeWork == 'Report' || selectedTypeWork == 'Subject'" class="" :expanded="true">
            <template #title>
               {{ __('Level') }}
            </template>
            <template #content>
               <div class="flex flex-col">
                  <label for="radio-la" class="flex items-center">
                    <span class="">
                      <input id="radio-la" @change="filteredLevelWork" v-model="selectedLevelWork" value="1" type="radio" name="radiol" class="">
                    </span>
                    <span class="ml-4">{{__("1")}}</span>
                  </label>
                  <label for="radio-lb" class="flex items-center">
                    <span class="">
                      <input id="radio-lb"  @change="filteredLevelWork" v-model="selectedLevelWork" value="2" type="radio" name="radiol" class="">
                    </span>
                    <span class="ml-4">{{  __('2') }}</span>
                  </label>
                  <label for="radio-lc" class="flex items-center">
                    <span class="">
                      <input id="radio-lc"  @change="filteredLevelWork" v-model="selectedLevelWork" value="3" type="radio" name="radiol" class="">
                    </span>
                    <span class="ml-4">{{  __('3') }}</span>
                  </label>
                  <label for="radio-ld" class="flex items-center">
                    <span class="">
                      <input id="radio-ld"  @change="filteredLevelWork" v-model="selectedLevelWork" value="4" type="radio" name="radiol" class="">
                    </span>
                    <span class="ml-4">{{  __('4') }}</span>
                  </label>
                  <label for="radio-le" class="flex items-center">
                    <span class="">
                      <input id="radio-le"  @change="filteredLevelWork" v-model="selectedLevelWork" value="5" type="radio" name="radiol" class="">
                    </span>
                    <span class="ml-4">{{  __('5') }}</span>
                  </label>
                  <label for="radio-lf" class="flex items-center">
                    <span class="">
                      <input id="radio-lf"  @change="filteredLevelWork" v-model="selectedLevelWork" value="6" type="radio" name="radiol" class="">
                    </span>
                    <span class="ml-4">{{  __('6') }}</span>
                  </label>
                </div>
            </template>
        </vue-collapsible-panel>

        <vue-collapsible-panel v-if="selectedTypeWork == 'Report' || selectedTypeWork == 'Subject'" class="" :expanded="true">
            <template #title>
               {{ __('School') }}
            </template>
            <template #content>
               <div class="flex flex-col">
                  <label for="radio-sa" class="flex items-center">
                    <span class="">
                      <input id="radio-sa" @change="filteredSchoolWork" v-model="selectedSchoolWork" value="ISTDI" type="radio" name="radios" class="">
                    </span>
                    <span class="ml-4">{{__("ISTDI")}}</span>
                  </label>
                  <label for="radio-sb" class="flex items-center">
                    <span class="">
                      <input id="radio-sb"  @change="filteredSchoolWork" v-model="selectedSchoolWork" value="SEAS" type="radio" name="radios" class="">
                    </span>
                    <span class="ml-4">{{  __('SEAS') }}</span>
                  </label>
                  <label for="radio-sc" class="flex items-center">
                    <span class="">
                      <input id="radio-sc"  @change="filteredSchoolWork" v-model="selectedSchoolWork" value="ICEA" type="radio" name="radios" class="">
                    </span>
                    <span class="ml-4">{{  __('ICEA') }}</span>
                  </label>
                  <label for="radio-sd" class="flex items-center">
                    <span class="">
                      <input id="radio-sd"  @change="filteredSchoolWork" v-model="selectedSchoolWork" value="3IL" type="radio" name="radios" class="">
                    </span>
                    <span class="ml-4">{{  __('3IL') }}</span>
                  </label>
                    <label for="radio-sd" class="flex items-center">
                    <span class="">
                      <input id="radio-sd"  @change="filteredSchoolWork" v-model="selectedSchoolWork" value="PISTI" type="radio" name="radios" class="">
                    </span>
                    <span class="ml-4">{{  __('PISTI') }}</span>
                  </label>
                </div>
            </template>
        </vue-collapsible-panel>

         <vue-collapsible-panel v-if="selectedTypeWork == 'Book'" class="" :expanded="false">
            <template #title>
              {{  __('Category') }}
            </template>
            <template #content>
               <div id="v-model-multiple-checkboxes" class="flex flex-col">
                  <label for="check-0" class="flex items-center">
                      <input type="checkbox" @change="filterCategories('0')" id="check-0" value="000" v-model="checkedCategories" />
                      <span class="ml-4 ">000 – {{ __('General works') }}</span>
                  </label>
                  <label for="check-1" class="flex items-center">
                      <input type="checkbox" @change="filterCategories('1')" id="check-1" value="100" v-model="checkedCategories" />
                      <span class="ml-4 ">100 – {{ __('Philo. & psycho.') }}</span>
                  </label>
                  <label for="check-2" class="flex items-center">
                      <input type="checkbox" @change="filterCategories('2')" id="check-3" value="200" v-model="checkedCategories" />
                      <span class="ml-4 ">200 – {{ __('Religion') }}</span>
                  </label>
                  <label for="check-3" class="flex items-center">
                      <input type="checkbox" @change="filterCategories('3')" id="check-2" value="300" v-model="checkedCategories" />
                      <span class="ml-4 ">300 – {{ __('Social sciences') }}</span>
                  </label>
                  <label for="check-4" class="flex items-center">
                      <input type="checkbox" @change="filterCategories('4')" id="check-4" value="400" v-model="checkedCategories" />
                      <span class="ml-4 ">400 – {{ __('Languages') }}</span>
                  </label>
                  <label for="check-5" class="flex items-center">
                    <input type="checkbox" @change="filterCategories('5')" id="check-5" value="500" v-model="checkedCategories" />
                    <span class="ml-4 ">500 – {{ __('Pure sciences') }}</span>
                  </label>
                  <label for="check-6" class="flex items-center">
                    <input type="checkbox" @change="filterCategories('6')" id="check-6" value="600" v-model="checkedCategories" />
                    <span class="ml-4 ">600 – {{__('Technical') }}</span>
                  </label>
                   <label for="check-7" class="flex items-center">
                    <input type="checkbox" @change="filterCategories('7')" id="check-7" value="700" v-model="checkedCategories" />
                    <span class="ml-4 ">700 – {{ __('Arts') }}</span>
                  </label>
                   <label for="check-8" class="flex items-center">
                    <input type="checkbox" @change="filterCategories('8')" id="check-8" value="800" v-model="checkedCategories" />
                    <span class="ml-4 ">800 – {{ __('Literature') }}</span>
                  </label>
                   <label for="check-9" class="flex items-center">
                    <input type="checkbox" @change="filterCategories('9')" id="check-9" value="900" v-model="checkedCategories" />
                    <span class="ml-4 ">900 -{{ __('Hist. & Geography') }}</span>
                  </label>
                </div>
            </template>
        </vue-collapsible-panel>
      </vue-collapsible-panel-group>   
    </div>
     <!--Advance search section -->
  </div>
</template>

<script>

import {VueCollapsiblePanelGroup,  VueCollapsiblePanel,} from '@dafcoe/vue-collapsible-panel'
import '@dafcoe/vue-collapsible-panel/dist/vue-collapsible-panel.css'

export default {
  components: {
    VueCollapsiblePanelGroup,
    VueCollapsiblePanel
  },
  props: {
    results : Object,
    works : Object,
    curWorks : Object,
    selected_type : String,
    is_search: Boolean,
  },
  mounted() {
    console.log("Sider Mounted!");
  },
  data() {
    return {
      selectedTypeWork: this.selected_type,
      selectedLevelWork: 'All',
      selectedSchoolWork: 'All',
      checkedCategories : [],
      actualWorks :this.works,
      updatedWork : this.curWorks,
      form: this.$inertia.form({
          search: null,
          work_type: 'all',
        }),
    }
  },
  computed: {
      filteredTypeWork : function () 
      {
        console.log("selectedTypeWork : "+this.selectedTypeWork);
        if(this.selectedTypeWork == "All"){
          this.updatedWork = this.works;
        }else{
          this.updatedWork = this.actualWorks.filter(actualWork => actualWork.model_name == this.selectedTypeWork);
        }
        this.$emit('onUpdateWork', this.updatedWork) 
      },

      filteredLevelWork : function () 
      {
        if(this.selectedLevelWork == "All"){
            this.updatedWork = this.actualWorks.filter(actualWork => actualWork.model_name == this.selectedTypeWork);
        }else{
          if(this.selectedSchoolWork == "All"){
            this.updatedWork = this.actualWorks.filter(actualWork => actualWork.model_name == this.selectedTypeWork);  
            this.updatedWork = this.updatedWork.filter(actualWork => actualWork.level.abbr == this.selectedLevelWork);
          }else{
            this.updatedWork = this.actualWorks.filter(actualWork => actualWork.model_name == this.selectedTypeWork);  
            this.updatedWork = this.updatedWork.filter(actualWork => actualWork.level.abbr == this.selectedLevelWork);
            this.updatedWork = this.updatedWork.filter(actualWork => actualWork.school.abbr == this.selectedSchoolWork);
      
          }
      }
        this.$emit('onUpdateWork', this.updatedWork) 
      },

      filteredSchoolWork : function () 
      {
        if(this.selectedSchoolWork == "All"){
          this.updatedWork = this.actualWorks.filter(actualWork => actualWork.model_name == this.selectedTypeWork);  
          this.updatedWork = this.updatedWork.filter(actualWork => actualWork.level.abbr == this.selectedLevelWork);
        }else{
          this.updatedWork = this.actualWorks.filter(actualWork => actualWork.model_name == this.selectedTypeWork);  
          this.updatedWork = this.updatedWork.filter(actualWork => actualWork.level.abbr == this.selectedLevelWork);
          this.updatedWork = this.updatedWork.filter(actualWork => actualWork.school.abbr == this.selectedSchoolWork);
        }
        this.$emit('onUpdateWork', this.updatedWork) 
      },

     
    },
  methods: {
    submit() {
      this.$inertia.get('/works/'+this.form.work_type+'/'+this.form.search)
    },

    filterCategories(value)
     {
       var value = value + "00";
        console.log(value);
        console.log(this.checkedCategories);
        this.updatedWork = this.actualWorks.filter(actualWork => actualWork.model_name == this.selectedTypeWork);  
   
      if(this.checkedCategories.length == 0){
        this.updatedWork = this.updatedWork;

      }else if(this.checkedCategories.length == 1){
        console.log(this.checkedCategories.length);
        if(this.checkedCategories.find(element => element == value)){
            console.log('finded');
          this.updatedWork = this.updatedWork.filter(actualWork => actualWork.ddc_code.substring(0, 1) == value.substring(0, 1));
     
        }else{
          console.log('not finded');
          this.updatedWork = this.updatedWork.filter(actualWork => actualWork.ddc_code.substring(0, 1) != value.substring(0, 1));
         }

      }else{
          console.log(this.checkedCategories.length);
   
        if(this.checkedCategories.find(element => element == value)){
            console.log('finded');
            console.log(value);
            console.log(this.actualWorks);
            var new_work = this.actualWorks.filter(actualWork => actualWork.ddc_code.substring(0, 1) == value.substring(0, 1));
           
            //this.updatedWork.push(new_work);
            console.log(this.updatedWork);
       }else{
            console.log('not finded');
            this.updatedWork = this.updatedWork.filter(actualWork => actualWork.ddc_code.substring(0, 1) != value.substring(0, 1));
     
        }
      }
      this.$emit('onUpdateWork', this.updatedWork);
    
     }
  }
};

</script>