<template>
   <div class="flex flex-row h-11 mt-4 row-span-1 mx-auto rounded border-2 shadow-xl ">
        <div class="flex items-center ml-3 mr-4 mt-1  pr-4 border-r border-gray-300"> 
            <a href="#" @click.prevent="asc=true" class="no-underline mr-2" :class="{'text-blue-700': asc}">
            <svg xmlns="http://www.w3.org/2000/svg" class="mr-1 h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                <path d="M3 3a1 1 0 000 2h11a1 1 0 100-2H3zM3 7a1 1 0 000 2h5a1 1 0 000-2H3zM3 11a1 1 0 100 2h4a1 1 0 100-2H3zM13 16a1 1 0 102 0v-5.586l1.293 1.293a1 1 0 001.414-1.414l-3-3a1 1 0 00-1.414 0l-3 3a1 1 0 101.414 1.414L13 10.414V16z" />
            </svg>
            </a>
            <a href="#" @click.prevent="asc=false" class=" no-underline"  :class="{'text-blue-700': !asc}">
            <svg xmlns="http://www.w3.org/2000/svg" class=" h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
            <path d="M3 3a1 1 0 000 2h11a1 1 0 100-2H3zM3 7a1 1 0 000 2h7a1 1 0 100-2H3zM3 11a1 1 0 100 2h4a1 1 0 100-2H3zM15 8a1 1 0 10-2 0v5.586l-1.293-1.293a1 1 0 00-1.414 1.414l3 3a1 1 0 001.414 0l3-3a1 1 0 00-1.414-1.414L15 13.586V8z" />
            </svg>
            </a>
            <span class="text-gray-800 ml-1 md:text-base hidden md:flex text-xs"> {{ __("SORT BY") }}</span>
         
        </div>
        <div class="mr-4 mt-2 pr-4 border-r border-gray-300" :class="{'text-blue-700': view}">
            <a href="#" @click.prevent="sortByView" class="flex items-center no-underline">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" />
            </svg>
            <span class="text-gray-800 ml-1 hidden md:flex md:text-base text-xs"> {{ __("VIEW") }}</span>
            </a>
        </div>
        <div class="mr-4 mt-2 pr-4 border-r border-gray-300" :class="{'text-blue-700': title}">
            <a href="#" @click.prevent="sortByTitle" class="flex items-center no-underline">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 20l4-16m2 16l4-16M6 9h14M4 15h14" />
            </svg>
            <span class="text-gray-800 ml-1 hidden md:flex md:text-base text-xs">{{ __("TITLE") }}</span>
            </a>           </div>
        <div class="mr-4 mt-2">
            <a href="#" class="flex items-center no-underline">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z" clip-rule="evenodd" />
            </svg>
            <span class="text-gray-800 ml-1 hidden md:flex md:text-base text-xs">{{ __("DATE PUBLISHED") }}</span>
            </a>
        </div>
    </div>
</template>

<script>
import Button from '../Jetstream/Button.vue';
export default {
  components: { Button },
    props: {
        curWorks : Object,
  },
  data() {
      return {
        asc: true,
        view: false,
        title: false,
        published: false,
        actualWorks: this.curWorks,
        updatedWork: this.curWorks,
      }
  },    
    computed: {
    },
    methods: {
        updateWorks(works){
            this.updatedWork = works;
        },
        dynamicSort(property) {
            var sortOrder = 1;
            if(property[0] === "-") {
                sortOrder = -1;
                property = property.substr(1);
            }
            return function (a,b) {
                /* next line works with strings and numbers, 
                * and you may want to customize it to your needs
                */
                var result = (a[property] < b[property]) ? -1 : (a[property] > b[property]) ? 1 : 0;
                return result * sortOrder;
            }
        },

        sortByView()
        {
            console.log("Sorting by view")
            this.view = true
            this.title = false

           if(this.asc){
                this.updatedWork = this.updatedWork.sort(this.dynamicSort("views_count"));
           }else{
                this.updatedWork = this.updatedWork.sort(this.dynamicSort("views_count")).reverse();
           }
           console.log("Receive from parent");
          this.$emit('onSortWork', this.updatedWork) 
        },

         sortByTitle()
        {
            this.title = true
            this.view = false

           if(this.asc){
                this.updatedWork = this.updatedWork.sort(this.dynamicSort("title"));
           }else{
                this.updatedWork = this.updatedWork.sort(this.dynamicSort("title")).reverse();
           }
            this.$emit('onSortWork', this.updatedWork) 
        },

  }
}
</script>