<template>
    <div class="container mx-auto pt-16">
        <div class="pb-12">
            <h1 class="text-3xl xl:text-4xl font-semibold text-gray-800 mx-auto text-center">{{ __('Testimonials') }}</h1>
            <div class="w-32 mx-auto pt-3 border-b-2 animate-pulse  border-red-800 text-center mb-4"></div>
            <p class="text-xl text-gray-600  w-11/12 mx-auto xl:mx-0 text-center">{{ __('What our members say') }}</p>
        </div>
        <section>
            <Carousel :transition="1000" :autoplay="6000" pauseAutoplayOnHover :wrap-around="true" :settings='settings' :breakpoints='breakpoints'>
                <template #slides>
                <Slide v-for="testimonial in myTestimonials" :key="testimonial.id" >
                    <div class="transform duration-500 xs:mb-4 sm:mb-4 hover:-translate-y-1 my-1 px-1">
                        <Testimonial :testimonial="testimonial" class="transform duration-500 hover:-translate-y-1"/>
                    </div>
                </Slide>
                </template>
            </Carousel>
            <div v-if="this.$page.props.auth" class="flex mt-2 justify-center items-center">
                <button type="button"  v-if="show_testimonial_button" @click="show_testimonial()" class="text-white bg-green-600 p-2 hover:bg-green-800 rounded-md">{{__("New Testimonial")}}</button>
            </div>
            <div v-if="show_testimonial_form" class="flex mt-2 w-full justify-center items-center">
                <form @submit.prevent="submit_testimonial()" class="md:w-2/3 sm:w-full mt-16 md:mt-8">
                    <div class="z-10 h-auto p-2 py-2 overflow-hidden bg-white border-b-2 border-gray-300 rounded-lg shadow-2xl px-7">
                        <div class="mb-2"> 
                            <x-jet-label for="name" value="{{ __('Name') }}" />
                            <input id="name" name="name" v-model="this.form.name" type="text" class="shadow appearance-none border-2 border-transparent border-gray-200 rounded-lg w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline mt-2" placeholder="Name" autofocus autocomplete="name">
                            <span class="text-red-500">{{ __(this.form.errors.name) }}</span>
                        </div>

                         <div class="mb-2"> 
                            <x-jet-label for="name" value="{{ __('Occupation') }}" />
                            <input id="occupation" name="occupation" v-model="this.form.occupation" type="text" class="shadow appearance-none border-2 border-transparent border-gray-200 rounded-lg w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline mt-2" placeholder="Occupation" autofocus autocomplete="occupation">
                            <span class="text-red-500">{{ __(this.form.errors.occupation) }}</span>
                        </div>
                        <div>
                            <textarea type="text" name="comment" v-model="this.form.content" class="w-full px-4 py-3 mb-4 border-2 border-transparent border-gray-200 rounded-lg focus:ring focus:ring-blue-500 focus:outline-none" placeholder="Write your opinion" rows="4" cols="35"></textarea>
                            <span class="text-red-500">{{ __(this.form.errors.content) }}</span>
                     
                        </div>
                        <div class="flex justify-end ">
                            <button type="button" @click="show_testimonial_form=false; show_testimonial_button=true;" class="text-white mx-2 px-3 py-2 text-center content-end bg-gray-800 rounded-lg hover:bg-blue-800">{{ __('Close')}}</button>
                            <button type="submit" class="text-white px-3 py-2 text-center content-end bg-green-600 rounded-lg hover:bg-blue-800">{{ __('Submit')}}</button>
                        </div>
                    </div>
                </form>
            </div>
        </section>   
    </div>
</template>

<script>
import Testimonial from "@/Components/Testimonial";
import { defineComponent } from 'vue';
import 'vue3-carousel/dist/carousel.css';
import { Carousel, Navigation, Slide, Pagination } from 'vue3-carousel';

export default defineComponent({
    components:{
        Testimonial,
        Carousel, Navigation, Slide, Pagination,
    },
    props : {
        testimonials : Object,
    },

    data() {
        return {
            myTestimonials : this.testimonials,
            show_testimonial_form : false,
            show_testimonial_button : true,
            form : {
                name : "",
                occupation : "",
                content : "",
                errors : {
                    name : "",
                    occupation : "",
                    content : ""
                }
            },

            // carousel settings
            settings: {
            itemsToShow: 3,
            snapAlign: 'center',
            },
            
            // breakpoints are mobile first
            // any settings not specified will fallback to the carousel settings
            breakpoints: {
                // 0 and up
            300: {
                itemsToShow: 1,
                snapAlign: 'start',
            },

            // 640 and up
            640: {
                itemsToShow: 2,
                snapAlign: 'start',
            },

            // 1024 and up
            1024: {
                itemsToShow: 3,
                snapAlign: 'start',
            },
            },

        };
    },

    methods: {
        show_testimonial(){
            console.log("Show the testimonial form");
            this.show_testimonial_form=true;
            this.show_testimonial_button=false;
        },

        submit_testimonial() {
      
            var route = "/testimonial";
            var send = true;
            if(this.$page.props.auth){
                if(this.form.name == ""){
                    this.form.errors.name = "The name is required";
                    send = false;
                }else{
                    this.form.errors.name = "";
                }

                if(this.form.occupation == ""){
                    this.form.errors.occupation = "Occupation required";
                    send = false;
                }else{
                    this.form.errors.occupation = "";
                }

                if(this.form.content.length <= 0){
                    this.form.errors.content =  "The content is required";
                    send = false;
                }else{
                      this.form.errors.content = "";
                }
                if(send){
                axios.post(route, this.form)
                .then(res => {
                    console.log(res.data);
                    this.myTestimonials = res.data;

                    this.show_testimonial_form = false;
                    this.show_testimonial_button = true;

                    this.$notify({
                    group: "generic",
                    title: "Info",
                    text: "Merci d'avoir donner votre avis !"
                    }, 4000)
                })
                .catch(error => {
                    console.log(error);
                });
            
                }

            }else{
                 this.$notify({
                    group: "error",
                    title: "Error",
                    text: "Veuillez vous authentifier svp ! "
                    }, 4000)
            }
        
        }
    },
});

</script>
