<template>
    <!--START Column -->
          <!-- Article -->
       <article :class="{'w-72' :width, 'w-60' : !width }" class="border border-gray-300 overflow-hidden rounded-lg shadow-lg ">
            <div class="shadow-xl">
                <a @click="() => showSingle()" class="c-card pic">
                  <img  alt="Placeholder" class="block h-56 w-full" :src="'/storage/'+myWork.cover">
                </a>
               <header class="leading-tight text-center mx-auto p-2 md:p-2 font-bold">
                   <h1 class="text-md">
                          <inertia-link  class=" no-underline hover:underline hover:text-blue-500 text-gray-900" 
                          :href="route('work_details',[work.model_name.toLowerCase() ,work.id])">
                          <span v-if="myWork.title.length > 22" >
                            {{ myWork.title.substring(0, 22) }} ... 
                          </span>
                          <span v-else >
                            {{ myWork.title }} 
                          </span>
                          </inertia-link>
                  </h1>
                 
              </header>

              <footer class="flex items-center justify-between leading-none p-1">
                  <a class="flex items-center no-underline hover:underline text-black" href="#">
                      <img alt=" !" class="block rounded-full" src="https://picsum.photos/32/32/?random">
                      <p class="item__title ml-2 text-xs lg:text-sm ">
                          <span v-if="myWork.model_name == 'Subject'">
                            {{ myWork.author ? 'By '+myWork.author.name : 'Not Availlable'  }}
                          </span>
                          <span v-else>
                              {{ myWork.authors[0] ? 'By '+myWork.authors[0].name : 'Not Availlable' }}
                          </span>
                      
                      </p>
                  </a>
                  <a class="no-underline text-grey-darker hover:text-red-dark" href="#">
                      <span class="hidden">Like</span>
                      <i class="fa fa-heart"></i>
                  </a>
                   <p v-if="myWork.academic_year" class="inline-block bg-gray-200 text-blue-700 rounded-full px-3 py-1 font-semibold mr-2 mb-2 text-grey-darker text-sm">
                      {{ myWork.academic_year.substring(0, 4) }}
                  </p>
              </footer>
            </div>
              <PuSkeleton :count="2">
                <div class=" bg-blue-300 bg-opacity-75 flex items-center text-center justify-between leading-none p-2 md:p-3">
                    <a href="#" class="flex items-center no-underline mr-2">
                   
                    <span v-if="myWork.model_name == 'Subject'">
                      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12h6m-6 4h6m2 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z" />
                      </svg>
                    </span>
                     <span v-else>
                      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6.253v13m0-13C10.832 5.477 9.246 5 7.5 5S4.168 5.477 3 6.253v13C4.168 18.477 5.754 18 7.5 18s3.332.477 4.5 1.253m0-13C13.168 5.477 14.754 5 16.5 5c1.747 0 3.332.477 4.5 1.253v13C19.832 18.477 18.247 18 16.5 18c-1.746 0-3.332.477-4.5 1.253" />
                      </svg>
                    </span>
                    <span class="text-gray-800 ml-1 text-sm"> #{{ __(myWork.model_name) }}</span>
                    </a>

                    <a href="#" class="items-center justify-center">
                      <svg xmlns="http://www.w3.org/2000/svg" class="justify-center h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" />
                      </svg>
                     
                      <span class="text-gray-800" v-if="myWork.views_count > 0" >
                        {{ myWork.views_count }}
                      </span>
                      <span class="text-gray-800" v-else >
                         0
                      </span>
                    
                    </a>

                    <div class="posts">
                  
                      <button @click="like_work(myWork)" class="text-gray-500 hover:text-green focus:outline-none">
                          <p v-if="myWork.isLiked" class="flex text-gray-400 text-sm justify-center">
                              <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" fill="red" viewBox="0 0 24 24" stroke="red">
                                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z" />
                              </svg>
                          </p>

                          <p v-else class="flex text-gray-400 justify-center">
                          <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z" />
                              </svg>
                          </p>
                      </button>

                      <span class="flex justify-center text-gray-800">{{ myWork.likes_count }}</span>


                    </div>

                    <a href="#" class="items-center justify-center">
                      <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 justify-center" fill="yellow" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11.049 2.927c.3-.921 1.603-.921 1.902 0l1.519 4.674a1 1 0 00.95.69h4.915c.969 0 1.371 1.24.588 1.81l-3.976 2.888a1 1 0 00-.363 1.118l1.518 4.674c.3.922-.755 1.688-1.538 1.118l-3.976-2.888a1 1 0 00-1.176 0l-3.976 2.888c-.783.57-1.838-.197-1.538-1.118l1.518-4.674a1 1 0 00-.363-1.118l-3.976-2.888c-.784-.57-.38-1.81.588-1.81h4.914a1 1 0 00.951-.69l1.519-4.674z" />
                      </svg>
                      <span class="text-gray-800">{{ myWork.average_rating }}
                      </span>
                    
                    </a>

                    <div ></div>
                    <a v-if="(myWork.model_name == 'Book' && $page.props.can_download_book) || (myWork.model_name == 'Report' && $page.props.can_download_report)  || (myWork.model_name == 'Subject' && $page.props.can_download_subject)" href="#" class="flex items-center no-underline mr-2">
                      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-4l-4 4m0 0l-4-4m4 4V4" />
                      </svg>
                        <span class="text-gray-800 ml-1">0</span>
                    </a>

                    <a href="#" class="flex items-center no-underline">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                        <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd" />
                      </svg>
                    </a>
                </div>
               </PuSkeleton>
  
          </article>
          <!-- END Article -->
        <teleport to='body'>
            <vue-easy-lightbox
            :visible="visible"
            :imgs="imgs"
            :index="index"
            @hide="handleHide">
          </vue-easy-lightbox>
        </teleport>
 <!-- END Column -->
</template>
<style lang="css" scoped>
  .c-card img{
  transition: transform 0.3s ease-in-out;
}
  .c-card:hover img{
    transform: scale(1.05);
  }

  .card {
  width: 360px;
  margin: 0 auto;
}

.card__image {
  margin-bottom: 12px;
}

.card__slim {
  display: flex;
  margin-bottom: 12px;
}

.card__avatar {
  margin-right: 12px;
}

.card__meta {
  flex-grow: 1;
}

.card__meta p,
.card__meta h2 {
  margin: 0;
}

.card__text {
  margin-bottom: 12px;
}

.card__actions {
  display: flex;
  justify-content: flex-end;
}
</style>

<script>
import VueEasyLightbox from 'vue-easy-lightbox';
import 'vue-skeletor/dist/vue-skeletor.css';

export default {
  props: {
    work : Object,
    width : Boolean,
  },
  components: {
      VueEasyLightbox,

    },
    data() {
      return {
        imgs: '', // Img Url , string or Array of string
        visible: false,
        index: 0, // default: 0,
        myWork : this.work

      }
    },
    methods: {
      showSingle() {
        this.imgs = '/storage/'+this.work.cover,
        this.show()
     },
      show() {
        this.visible = true
      },
      handleHide() {
        this.visible = false
      },
      like_work(work){
        var route = 'https://mydigitallibrary.test/work/like/'+work.model_name+'/'+work.id+'/'+work.isLiked;
      if(this.$page.props.auth){
        axios.get(route)
        .then(res => {
            console.log(work.model_name);
            console.log(res.data);
            this.myWork = res.data
            console.log(this.myWork);
          

            this.$notify({
            group: "generic",
            title: "Info",
            text: "Merci d'avoir liké cet ouvrage"
            }, 4000)
        })
        .catch(error => {
            console.log(error);
        });
    }else{

        this.$notify({
        group: "error",
        title: "Info",
        text: "Veuillez vous authentifier. Merci !"
        }, 4000)
    }
        
        
      },
 
    },
    
  setup(props) { 
    return{
      
    }
  },
};
</script>