<template>
  <div class="">
    <div class="text-center w-full pb-5">
        <div class="text-center font-semibold text-gray-800 text-3xl">{{ __(title) }}</div>
        <div class="w-32 mx-auto pt-3 border-b-2 animate-pulse  border-red-800 text-center mb-4"></div>
          <p class="text-xl text-gray-600 mx-auto text-center">{{ __(second_title) }}</p>
     </div>

    <div class="">
        <Carousel :transition="1000" :autoplay="6000" pauseAutoplayOnHover :wrap-around="true" :settings='settings' :breakpoints='breakpoints'>
          <template #slides>
          <Slide v-for="work in works" :key="work.id" >
              <div class="transform duration-500 xs:mb-4 sm:mb-4 hover:-translate-y-1 my-1 px-1">
                  <work :width="this.width" :work="work"  />
              </div>
          </Slide>
          </template>

          <template #addons>
            <Pagination />
            <Navigation />
          </template>
        </Carousel>
     </div>

    <div v-if="showViewAll" class="flex place-items-center mt-6 sm:mt-8">
          <inertia-link class="flex items-center no-underline" :href="route('works_type',['all'])">
              <span class="hover:text-green-600 px-4 py-2 text-center mx-auto rounded focus:outline-none text-gray-800 text-3xl mb-4">{{ __('Browse All Titles') }}
              </span>
              <svg xmlns="http://www.w3.org/2000/svg" class="text-center text-green-600 animate-bounce h-8 w-8" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 8l4 4m0 0l-4 4m4-4H3" />
            </svg>
          </inertia-link>        
    </div>
  </div>
</template>

<script>
import Work from "@/Components/Work";
import { defineComponent } from 'vue';
import 'vue3-carousel/dist/carousel.css';
import { Carousel, Navigation, Slide, Pagination } from 'vue3-carousel';

export default defineComponent({
  components: {
    Work,
    Carousel, Navigation, Slide, Pagination,

  },
  
  data: () => ({
     
    // carousel settings
    settings: {
      itemsToShow: 1,
      snapAlign: 'center',
    },
    // breakpoints are mobile first
    // any settings not specified will fallback to the carousel settings
    breakpoints: {
        // 0 and up
      100: {
        itemsToShow: 1,
        snapAlign: 'start',
      },

      // 640 and up
      600: {
        itemsToShow: 2,
        snapAlign: 'start',
      },

      // 800 and up
      900: {
        itemsToShow: 3,
        snapAlign: 'start',
      },
      // 1024 and up
      1024: {
        itemsToShow: 4,
        snapAlign: 'start',
      },
    },
  }),

  props: {
    works: Object,
    title : String,
    second_title : String,
    width : Boolean,
    showViewAll: {
      type: Boolean,
      default: true,
    },
  },
   mounted() {
      console.log("Works Mounted !");
    },

  setup(props) {
   
    return {
    
    };
  },
});
</script>