<template>
    <div class="flex flex-wrap lg:w-4/5 pt-2 sm:mx-auto sm:mb-2 -mx-2">
        <div class="w-full lg:w-1/2 px-4 py-2">
        <details class="mb-4">
            <summary class="font-semibold bg-gray-200 rounded-md py-2 px-4">
            {{ __("How to register?")}}
            </summary>

            <span>
           {{__("You must go to the IUC library in Douala LOGBESSOU and ask to be registered to have access to the books.")}}
            </span>
        </details>
        <details class="mb-4">
            <summary class="font-semibold bg-gray-200 rounded-md py-2 px-4">
            {{__("Can I read all the ressources online?")}}
            </summary>

            <span>
            {{__("Yes, all the ressources on the platform can be readed online. An you must login to read a work.")}}
            </span>
        </details>
        <details class="mb-4">
            <summary class="font-semibold bg-gray-200 rounded-md py-2 px-4">
            {{__("Can I borrow a Work?")}}
            </summary>

            <span>
            {{__("No, for the moment, this feature is yet implemented but it will be available as soon as possible.")}}
            </span>
        </details>
        </div>
        <div class="w-full lg:w-1/2 px-4 py-2">
        <details class="mb-4">
            <summary class="font-semibold bg-gray-200 rounded-md py-2 px-4">
           {{__("Can I read form my mobile phone or tablet?")}}
            </summary>

            <span class="px-4 py-2">
           {{__("Yes, you can.The content will adapt depending on the screen's size")}}
            </span>
        </details>
        <details class="mb-4">
            <summary class="font-semibold bg-gray-200 rounded-md py-2 px-4">
            {{__("Can I download a work?")}}
            </summary>

            <span class="px-4 py-2">
            {{__("No, all the resources can only be readed for the moment but it may change later we will keep you informed.")}}
            </span>
        </details>
        <details class="mb-4">
            <summary class="font-semibold bg-gray-200 rounded-md py-2 px-4">
           {{__("How can I reset my password?")}}
            </summary>

            <span class="px-4 py-2">
            {{__("To reset your password, you can try to login and click on the password forgoten link or go to the IUC library.")}}
            </span>
        </details>
        </div>
    </div>
</template>