<template>
  <app-layout>
     <InnerPageHero image-url="/dist/images/innerPageHeroAbout.jpg" title="Need some Help ?" />

    <main class="profile-page">
      <section class="relative block" style="height: 320px;">
        <div
          class="absolute top-0 w-full h-full bg-center bg-cover"
          style='background-image: url("https://images.unsplash.com/photo-1499336315816-097655dcfbda?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=2710&amp;q=80");'
        >
          <span
            id="blackOverlay"
            class="w-full h-full absolute opacity-50 bg-black"
          ></span>
        </div>
        <div
          class="top-auto bottom-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden"
          style="height: 70px;"
        >
    
        </div>
      </section>
      <section class="relative py-16 bg-gray-300">
        <div class="container mx-auto px-4">
          <div
            class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-xl rounded-lg -mt-80"
          >
            <div class="px-6">
              <div class="flex flex-wrap justify-center">
                <div
                  class="w-full lg:w-3/12 px-4 lg:order-2 flex justify-center"
                >
                </div>
                <div
                  class="w-full lg:w-4/12 px-4 lg:order-3 lg:text-right lg:self-center"
                >
                </div>
                <div class="w-full lg:w-4/12 px-4 lg:order-1">
                  <div class="flex justify-center py-4 lg:pt-4 pt-8">
                    <div class="mr-4 p-3 text-center">
                      <span
                        class="text-xl font-bold block uppercase tracking-wide text-gray-700"
                        >+{{ this.work_count['books_count'] }}</span
                      ><span class="text-sm text-gray-500">{{__('Books')}}</span>
                    </div>
                    <div class="mr-4 p-3 text-center">
                      <span
                        class="text-xl font-bold block uppercase tracking-wide text-gray-700"
                        >+{{ this.work_count['reports_count'] }}</span
                      ><span class="text-sm text-gray-500">{{__('Report')}}</span>
                    </div>
                    <div class="lg:mr-4 p-3 text-center">
                      <span
                        class="text-xl font-bold block uppercase tracking-wide text-gray-700"
                        >+{{ this.work_count['subjects_count'] }}</span
                      ><span class="text-sm text-gray-500">{{__("Subjects")}}</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="text-center mt-12">
                <h3 class="text-4xl font-semibold leading-normal mb-2 text-gray-800">FAQS</h3>
                 <div class="container px-5 py-10 mx-auto">
                  <div class="text-center mb-10">
                    <p class="text-2xl leading-relaxed  mx-auto">
                      {{__("Frequently asked questions about our business and what we can do for you. If you can't find the answer to your question, please contact us.")}}
                    </p>
                  </div>
                  <tabs v-model="selectedTab">
                  <tab
                    class="tab text-lg pb-2 font-semibold"
                    key="t1"
                    val="t1"
                    label="MyDigitalLibrary Entreprise & Services"
                    :indicator="true"
                  />

                  <tab
                    class="tab pb-2 text-lg font-semibold"
                    key="t2"
                    val="t2"
                    label="MyDigitalLibrary PNB"
                    :indicator="true"
                  />

                  <tab
                    class="tab pb-2 text-lg font-semibold"
                    key="t3"
                    val="t3"
                    label="Suggestions"
                    :indicator="true"
                  />
                  </tabs>

                  <tab-panels  v-model="selectedTab" :animate="true"
                  >
                    <tab-panel
                      key="tp1"
                      val="t1"
                    >
                      <FAQSEntServ />  
                    </tab-panel>

                    <tab-panel
                      key="tp2"
                      val="t2"
                    >
                      <FAQSPNB />  
                    </tab-panel>

                    <tab-panel
                      key="tp3"
                      val="t3"
                    >
                      <FAQSSuggestion />  
                    </tab-panel>

                  </tab-panels>
                </div>
              </div>
              <div class="mt-10 py-10 border-t border-gray-300 text-center">
                <div class="flex flex-wrap justify-center">
                  <div class="w-full lg:w-9/12 px-4">
                    <p class="mb-4 text-lg leading-relaxed text-gray-800">
                        Imagination is more important than knowledges.
                    </p>
                    <a href="#pablo" class="font-normal text-green-600"
                      >Contact Us </a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
  </app-layout>
</template>

<script>
import InnerPageHero from "@/Components/InnerPageHero";
import AppLayout from "@/Layouts/AppLayout";
import FAQSSuggestion from "./FAQSSuggestion";
import FAQSEntServ from "./FAQSEntServ";
import FAQSPNB from "./FAQSPNB";
import { Tabs, Tab, TabPanels, TabPanel } from 'vue3-tabs';
import { defineComponent, reactive, toRefs } from 'vue';

const tabs = ['A', 'B', 'C'];
export default defineComponent({
  components: {
    InnerPageHero,
    AppLayout,
    Tabs,
    Tab,
    TabPanels,
    TabPanel,
    FAQSEntServ,
    FAQSPNB,
    FAQSSuggestion
  },

  props: {work_count : Array},

   setup() {
    const state = reactive({
      selectedTab: tabs[1]
    });
    return {
      tabs,
      ...toRefs(state)
    };
  },
});
</script>