<template>
    <svg v-if="name === 'en'" enable-background="new 0 0 512 512" version="1.1" viewBox="0 0 512 512" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"><circle cx="256" cy="256" r="256" fill="#F0F0F0"/><g fill="#0052B4"><path d="m52.92 100.14c-20.109 26.163-35.272 56.318-44.101 89.077h133.18l-89.077-89.077z"/><path d="m503.18 189.22c-8.829-32.758-23.993-62.913-44.101-89.076l-89.075 89.076h133.18z"/><path d="m8.819 322.78c8.83 32.758 23.993 62.913 44.101 89.075l89.074-89.075h-133.18z"/><path d="m411.86 52.921c-26.163-20.109-56.317-35.272-89.076-44.102v133.18l89.076-89.075z"/><path d="m100.14 459.08c26.163 20.109 56.318 35.272 89.076 44.102v-133.18l-89.076 89.074z"/><path d="M189.217,8.819c-32.758,8.83-62.913,23.993-89.075,44.101l89.075,89.075V8.819z"/><path d="m322.78 503.18c32.758-8.83 62.913-23.993 89.075-44.101l-89.075-89.075v133.18z"/><path d="m370 322.78l89.075 89.076c20.108-26.162 35.272-56.318 44.101-89.076h-133.18z"/></g><g fill="#D80027"><path d="m509.83 222.61h-220.44v-220.44c-10.931-1.423-22.075-2.167-33.392-2.167-11.319 0-22.461 0.744-33.391 2.167v220.44h-220.44c-1.423 10.931-2.167 22.075-2.167 33.392 0 11.319 0.744 22.461 2.167 33.391h220.44v220.44c10.931 1.423 22.073 2.167 33.392 2.167 11.317 0 22.461-0.743 33.391-2.167v-220.44h220.44c1.423-10.931 2.167-22.073 2.167-33.392 0-11.317-0.744-22.461-2.167-33.391z"/><path d="m322.78 322.78l114.24 114.24c5.254-5.252 10.266-10.743 15.048-16.435l-97.802-97.802h-31.482v1e-3z"/><path d="m189.22 322.78h-2e-3l-114.24 114.24c5.252 5.254 10.743 10.266 16.435 15.048l97.802-97.804v-31.479z"/><path d="m189.22 189.22v-2e-3l-114.24-114.24c-5.254 5.252-10.266 10.743-15.048 16.435l97.803 97.803h31.481z"/><path d="m322.78 189.22l114.24-114.24c-5.252-5.254-10.743-10.266-16.435-15.047l-97.802 97.803v31.482z"/></g>
    </svg>

<svg v-else-if="name === 'fr'" height="512" viewBox="0 0 512 512" width="512" xmlns="http://www.w3.org/2000/svg"><g id="BULINE"><circle cx="256" cy="256" fill="#fc4581" r="256"/></g><g id="Icons"><path d="m167.12 15.86v480.3c-97.58-36.16-167.12-130.01-167.12-240.16s69.54-204 167.12-240.14z" fill="#205bb2"/><path d="m344.87 15.86v480.3a256.79 256.79 0 0 1 -177.75 0v-480.3a257.1 257.1 0 0 1 177.75 0z" fill="#fff"/><path d="m512 256a256.09 256.09 0 0 1 -167.13 240.16v-480.3a256.2 256.2 0 0 1 167.13 240.14z" fill="#db1b1b"/><path d="m196.53 7v498.05a254.83 254.83 0 0 1 -29.41-8.89v-480.3a254.86 254.86 0 0 1 29.41-8.86z" fill="#e0e0e0"/><path d="m374.28 28.92v454.19a255.61 255.61 0 0 1 -29.41 13.05v-480.3a254 254 0 0 1 29.41 13.06z" fill="#c11616"/><circle cx="444.71" cy="166.38" fill="#ea3434" r="16.28"/><circle cx="444.71" cy="132.47" fill="#ea3434" r="11.53"/><path d="m57.87 256.05a255.69 255.69 0 0 0 109.25 209.79v30.32c-97.58-36.16-167.12-130.01-167.12-240.16s69.54-204 167.12-240.14v30.42a255.64 255.64 0 0 0 -109.25 209.77z" fill="#18539b"/><path d="m196.53 483.64a254.3 254.3 0 0 0 88.19 26.78 259.42 259.42 0 0 1 -28.72 1.58 256.31 256.31 0 0 1 -88.88-15.85v-30.31a253.77 253.77 0 0 0 29.41 17.8z" fill="#e0e0e0"/><path d="m196.53 28.48a253.77 253.77 0 0 0 -29.41 17.8v-30.42a255.63 255.63 0 0 1 88.88-15.86 260.14 260.14 0 0 1 29.17 1.64 253.89 253.89 0 0 0 -88.64 26.84z" fill="#e0e0e0"/><g fill="#ccc"><path d="m196.53 7v21.48a253.77 253.77 0 0 0 -29.41 17.8v-30.42a254.86 254.86 0 0 1 29.41-8.86z"/><path d="m167.12 465.84a253.77 253.77 0 0 0 29.41 17.8v21.41a254.83 254.83 0 0 1 -29.41-8.89z"/></g></g></svg>

</template>

<script>
export default {
    name: "Icon",
    props: ['name']
}
</script>

<style scoped>

</style>
