<template>
    <app-layout title="Profile">
        <InnerPageHero image-url="/dist/images/innerPageHeroAbout.jpg" title="Profile Settings" />

        <div>
            <div class="max-w-7xl mx-auto py-10 sm:px-2 lg:px-4">
                   <tabs v-model="selectedTab">
            <tab
              class="tab text-lg pb-2 font-medium hover:text-green-600"
              key="t1"
              val="t1"
              label="Profile Infos"
              :indicator="true"
            />

             <tab
              class="tab pb-2 text-lg font-medium hover:text-green-600"
              key="t2"
              val="t2"
              label="Update Password"
              :indicator="true"
            />

             <tab
              class="tab pb-2 text-lg font-medium hover:text-green-600"
              key="t3"
              val="t3"
              label="Two Factor Authentication"
              :indicator="true"
            />

             <tab
              class="tab pb-2 text-lg font-medium hover:text-green-600"
              key="t4"
              val="t4"
              label="Browser Sessions"
              :indicator="true"
            />

            </tabs>

            <tab-panels  v-model="selectedTab" :animate="true"
            >
              <tab-panel
                key="tp1"
                val="t1"
              >
               <div class="mt-10" v-if="$page.props.jetstream.canUpdateProfileInformation">
                    <update-profile-information-form :user="$page.props.user" />

                    <jet-section-border />
                </div>
              </tab-panel>

              <tab-panel
                key="tp2"
                val="t2"
              >
                <div class="mt-10" v-if="$page.props.jetstream.canUpdatePassword">
                    <update-password-form class="mt-10 sm:mt-0" />

                    <jet-section-border />
                </div>
              </tab-panel>

              <tab-panel
                key="tp3"
                val="t3"
              >
                <div class="mt-10" v-if="$page.props.jetstream.canManageTwoFactorAuthentication">
                    <two-factor-authentication-form class="mt-10 sm:mt-0" />

                    <jet-section-border />
                </div>
              </tab-panel>

              <tab-panel
                key="tp4"
                val="t4"
              >
                <div class="mt-10">
                    <logout-other-browser-sessions-form :sessions="sessions" class="mt-10 sm:mt-0" />

                </div>
        
              </tab-panel>

            </tab-panels>

               
            </div>
        </div>
    </app-layout>
</template>

<script>
    import { defineComponent, reactive, toRefs } from 'vue';
    import AppLayout from '@/Layouts/AppLayout.vue'
    import DeleteUserForm from '@/Pages/Profile/DeleteUserForm.vue'
    import JetSectionBorder from '@/Jetstream/SectionBorder.vue'
    import LogoutOtherBrowserSessionsForm from '@/Pages/Profile/LogoutOtherBrowserSessionsForm.vue'
    import TwoFactorAuthenticationForm from '@/Pages/Profile/TwoFactorAuthenticationForm.vue'
    import UpdatePasswordForm from '@/Pages/Profile/UpdatePasswordForm.vue'
    import UpdateProfileInformationForm from '@/Pages/Profile/UpdateProfileInformationForm.vue'
    import InnerPageHero from '@/Components/InnerPageHero'
    import { Tabs, Tab, TabPanels, TabPanel } from 'vue3-tabs';
   
   const tabs = ['A', 'B', 'C', 'D', 'E'];

    export default defineComponent({
        props: ['sessions'],

        components: {
            AppLayout,
            DeleteUserForm,
            JetSectionBorder,
            LogoutOtherBrowserSessionsForm,
            TwoFactorAuthenticationForm,
            UpdatePasswordForm,
            UpdateProfileInformationForm,
            InnerPageHero,
            Tabs,
            Tab,
            TabPanels,
            TabPanel,
        },
        setup() {
            const state = reactive({
            selectedTab: tabs[1]
            });
            return {
            tabs,
            ...toRefs(state)
            };
        }
    })
</script>

<style scoped>
  .tab {
    padding: 10px 20px;
  }
</style>
