<template>

<footer class="bg-gradient-to-bl from-green-700 to-gray-700 mt-0 text-gray-300">
  <div class="flex max-w-screen-xl mx-auto mb-10 pt-2 lg:mb-14 px-6 lg:px-8 ">
    <img  class="h-10 w-10" src="/dist/images/logo.png" alt="My Digital Library logo">
    <span class="ml-2 text-3xl">My Digital <span class="text-primary text-3xl">Library</span></span>
  </div>
  <div class="max-w-screen-xl mx-auto px-4 lg:px-6 ">
    <div class="grid grid-cols-8 md:grid-cols-9  lg:grid-cols-8  divide-gray-700 divide-y-2 md:divide-x-2 md:divide-y-0 md:-mx-8">
      <div class="col-span-8 md:col-span-3 lg:col-span-2 md:px-8 py-2 md:py-0">
        <h5 class="text-xl font-semibold text-white">{{ __("Pages") }}</h5>
        <nav class="mt-4">
          <ul class="space-y-2">
            <li>
              <a href="#" class="font-normal text-base hover:text-gray-100">{{ __('About') }}</a>
            </li>
            <li>
              <a href="#" class="font-normal text-base hover:text-gray-100">{{ __('Works') }}</a>
            </li>
            <li>
              <a href="#" class="font-normal text-base hover:text-gray-100">{{ __('Help') }}</a>
            </li>
          </ul>
        </nav>
      </div>
       <div class="col-span-8 md:col-span-3 lg:col-span-2 md:px-8 py-2 md:py-0">
        <h5 class="text-xl font-semibold text-white">{{__("Our campus")}}</h5>
        <nav class="mt-4">
          <ul class="space-y-2">
            <li>
              <a href="#" class="font-normal text-base hover:text-gray-100">{{ __('Douala Logbessou') }}</a>
            </li>
            <li>
              <a href="#" class="font-normal text-base hover:text-gray-100">{{ __('Douala AKWA') }}</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="col-span-8 md:col-span-3 lg:col-span-2 md:px-8 py-4 md:py-0">
        <h5 class="text-xl font-semibold text-white">{{ __("Newsletter")}}</h5>
        <nav class="mt-4"> 
            <div>
              <p>{{__("Receive our free tips and news by subscribing to our newsletter")}}.</p>
            </div>
        </nav>
      </div>
      <div class="col-span-8 md:col-span-3 lg:col-span-2 md:px-8 py-4 md:py-0">
        <h5 class="text-xl font-semibold text-white">{{ __('Contacts') }}</h5>
        <nav class="mt-4">
          <ul class="grid lg:grid-rows-2">
            <li class="mb-2">
              <a href="" class="flex space-x-2  font-normal text-base hover:text-gray-100">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 18h.01M8 21h8a2 2 0 002-2V5a2 2 0 00-2-2H8a2 2 0 00-2 2v14a2 2 0 002 2z" />
                </svg>
                <span>
                 {{ this.$page.props.library.phone1 }}
                </span>
              </a>
            </li>
            <li class="mb-2">
              <a href="" class="flex space-x-2  font-normal text-base hover:text-gray-100">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 18h.01M8 21h8a2 2 0 002-2V5a2 2 0 00-2-2H8a2 2 0 00-2 2v14a2 2 0 002 2z" />
                </svg>
                <span>
                 {{ this.$page.props.library.phone2 }}
                </span>
              </a>
            </li>
             <li class="mb-2">
              <a href="" class="flex space-x-2  font-normal text-base hover:text-gray-100">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z" />
                </svg>
                <span>
                  {{ this.$page.props.library.lib_email }}
                </span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
   <div class="bg-gray-900 px-6 lg:px-8 mt-6">
      <div class="container mx-auto py-4 px-5 flex flex-wrap flex-col sm:flex-row">
        <p class="text-white text-sm text-center sm:text-left">© 2021 MyDigitalLibrary . {{__("All rights reserved")}}. Made with love by
          <a href="https://www.linkedin.com/in/diderot-anafack-71b3a2192/" rel="noopener noreferrer" class="text-gray-400 ml-1" target="_blank">@Jordan</a>
        </p>
        <span class="inline-flex sm:ml-auto sm:mt-0 mt-2 justify-center sm:justify-start">
          <a :href="this.$page.props.social_medias[0].url" class="text-gray-200">
            <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
              <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
            </svg>
          </a>
          <a :href="this.$page.props.social_medias[2].url" class="ml-3 text-gray-200">
            <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
              <path d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"></path>
            </svg>
          </a>
          <a :href="this.$page.props.social_medias[4].url" class="ml-3 text-gray-200">
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
              <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
              <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
            </svg>
          </a>
          <a class="ml-3 text-gray-200">
            <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="0" class="w-5 h-5" viewBox="0 0 24 24">
              <path stroke="none" d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z"></path>
              <circle cx="4" cy="4" r="2" stroke="none"></circle>
            </svg>
          </a>
        </span>
      </div>
    </div>
</footer>   
</template>

<script>
export default {
  props: {},

  setup () {}
}
</script>
