<template>
     <app-layout>    
            <div class="login">
                <div class="block xl:grid grid-cols-2 gap-4">
                    <!-- BEGIN: Login Info -->
                    <div class="ml-12 hidden xl:flex flex-col min-h-screen">
                        <div class="my-auto">
                            <img alt="LMS" class="ml-8 animate-pulse -intro-x w-1/2" src="dist/images/illustration.png">
                            <div class="text-center animate-bounce text-gray-100 font-medium text-4xl leading-tight mt-10">{{ __("A few more clicks to sign in to your account.")}}</div>
                        
                        </div>
                    </div>
                    <!-- END: Login Info -->
                    <!-- BEGIN: Login Form -->
                    <div class="h-screen xl:h-auto flex py-5 xl:py-0 my-10 xl:my-0">
                        <div class="my-auto mx-auto xl:ml-20 bg-white xl:bg-transparent px-5 sm:px-8 py-8 xl:p-0 rounded-md shadow-md xl:shadow-none w-full sm:w-3/4 lg:w-2/4 xl:w-auto">
                            <h2 class=" intro-x font-bold text-2xl xl:text-3xl text-center">{{__('Sign In') }}</h2>
                            <div class="animate-pulse intro-x mt-2 text-gray-500 xl:hidden text-center">A few more clicks to sign in to your account.</div>
                        
                            <jet-validation-errors class="mb-4 mt-2" />
                            <div v-if="status" class="mb-4 font-medium text-sm text-green-600">
                                {{ status }}
                            </div>
                            <form @submit.prevent="submit">
                                <div class="intro-x mt-8">
                                    <jet-input id="email" type="email" class="intro-x login__input input input--lg border border-gray-300 block  w-full" v-model="form.email" :placeholder="__('Email')" required autofocus />
                                    <jet-input id="password" type="password" class="intro-x login__input input input--lg border border-gray-300 block mt-4  w-full" v-model="form.password" :placeholder="__('Password')" required autocomplete="current-password" />
                            </div>
                            <div class="intro-x flex text-gray-700 text-xs sm:text-sm mt-4">
                              <div class="flex items-center mr-auto">
                                <jet-checkbox id="remember-me" name="remember" class="input border mr-2" v-model:checked="form.remember" />
                                <label class="cursor-pointer select-none" for="remember-me">{{__('Remember me')}}</label>
                            </div>
                            <inertia-link v-if="canResetPassword" :href="route('password.request')" class="underline text-sm text-gray-600 hover:text-gray-900">
                                {{__('Forgot your password?')}}
                            </inertia-link>
                        </div>

                        <div class="intro-x mt-5 xl:mt-8 text-center xl:text-left">
                            <jet-button class="ml-4 transform duration-500 hover:scale-105 bg-theme-1 text-theme-2" :class="{ 'opacity-25': form.processing }" :disabled="form.processing">
                                {{__('Log in')}}
                            </jet-button>
                            <jet-button @click="signIn()" type="button" class="transform duration-500 hover:scale-105 bg-theme-1 ml-4 content-end" :class="{ 'opacity-25': form.processing }" :disabled="form.processing">
                                {{__('Login with')}} <span class="xs:hidden lg:flex">{{__("MS Office 365")}}</span> <img class="w-7 h-4 px-1" src="/images/microsoft-logo.png" alt="">
                            </jet-button>
                            <jet-button class="ml-4 transform duration-500 hover:scale-105 text-theme-2" :class="{ 'opacity-25': form.processing }" :disabled="form.processing">
                                <inertia-link :href="route('register')" class="text-sm hover:text-gray-900">
                                 {{__('Register')}}
                                </inertia-link>
                            </jet-button>
                        </div>
                        <div class="intro-x mt-5 xl:mt-14 text-gray-700 text-center xl:text-left">
                           {{__(' By signin up, you agree to our ')}}
                            <br>
                            <a class="text-theme-1" href="">Terms and Conditions</a> & <a class="text-theme-1" href="">Privacy Policy</a> 
                        </div>
                        </form>
                        </div>
                    </div>
                    <!-- END: Login Form -->
                </div>
            </div>
     </app-layout>
    
</template>

<style scoped>
.login {
  --tw-bg-opacity: 1;
  background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
  position: relative;
}

@media (max-width: 1279px) {
  .login {
    background: linear-gradient(to bottom, #1C3FAA, #2B51B4);
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
}

.login:before {
  content: "";
  margin-left: -48%;
  background-image: url('./../../../images/bg-login-page.svg');
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: right;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
}

@media (max-width: 1279px) {
  .login:before {
    display: none;
  }
}

.login .login__input {
  min-width: 350px;
  box-shadow: 0px 3px 5px #00000007;
}

@media (max-width: 1279px) {
  .login .login__input {
    min-width: 100%;
  }
}
    
.-intro-x:nth-child(2) {
    z-index: 48;
    opacity: 0;
    position: relative;
    transform: translateX(-50px);
    -webkit-animation: 0.4s intro-x-animation ease-in-out 0.33333s;
    animation: 0.4s intro-x-animation ease-in-out 0.33333s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

.leading-tight {
    line-height: 1.25;
}

.w-1\/2 {
    width: 50%;
}
.-mt-16 {
    margin-top: -4rem;
}

</style>

<script>
    import JetAuthenticationCard from '@/Jetstream/AuthenticationCard'
    import JetAuthenticationCardLogo from '@/Jetstream/AuthenticationCardLogo'
    import JetButton from '@/Jetstream/Button'
    import JetInput from '@/Jetstream/Input'
    import JetCheckbox from '@/Jetstream/Checkbox'
    import JetLabel from '@/Jetstream/Label'
    import JetValidationErrors from '@/Jetstream/ValidationErrors'
    import AppLayout from '@/Layouts/AppLayout'
    import InnerPageHero from '@/Components/InnerPageHero'

    import * as Msal from "@azure/msal-browser";

    // Configuration object constructed.
    const config = {
        auth: {
            clientId: '48ea923e-5902-4d34-ad52-68b313d98a68',
            redirectUri: "https://mydigitallibrary.test/register",
            postLogoutRedirectUri: "https://mydigitallibrary.test//logout"
        }
    };

    const myMsal = new Msal.PublicClientApplication(config);
    const account = new Msal.PublicClientApplication(config).getAllAccounts()[0];
    
    const accessTokenRequest = {
        scopes: ["openid","email" ,"profile", "User.Read"],
        account: account
    }

    const loginRequest = {
        scopes: ["openid","email", "profile", "User.Read.All"]
    };

    export default {
        components: {
            JetAuthenticationCard,
            JetAuthenticationCardLogo,
            JetButton,
            JetInput,
            JetCheckbox,
            JetLabel,
            JetValidationErrors,
            AppLayout,
            InnerPageHero
        },

        props: {
            canResetPassword: Boolean,
            status: String
        },

        data() {
            return {
                form: this.$inertia.form({
                    type: '',
                    email: '',
                    password: '',
                    remember: false
                })
            }
        },

        methods: {
            submit() {
                this.form
                    .transform(data => ({
                        ... data,
                        remember: this.form.remember ? 'on' : ''
                    }))
                    .post(this.route('login'), {
                        onFinish: () => this.form.reset('password'),
                    })
            },

            signIn(){
                const main = this;
                myMsal.loginPopup(loginRequest)
                .then(function (loginResponse) {
                  
                    console.log(loginResponse.account);

                    //Creation de compte
                    main.form.type = "API" ;
                    main.form.email = loginResponse.account.idTokenClaims.email; 
                    main.form.password = "UserFromOffice365"
                    main.form
                    .transform(data => ({
                        ... data,
                        remember: main.form.remember ? 'on' : ''
                    }))
                    .post(main.route('login'), {
                        onFinish: () => main.form.reset('password'),
                    })
                    
                }).catch(function (error) {
                    //login failure
                    console.log(error);
                });
              
            },
        }
    }
</script>
