<template>
    <div class="relative">
        <img class="absolute hero-height w-full z-0 opacity-90 " src="/dist/images/register-bg.jpg" alt="">
   
        <jet-authentication-card class="w-full bg-opacity-10 bg-gray-800 absolute z-40">
            <div class="relative z-50">
                <NotificationGroup position="bottom" group="error">
                    <div
                        class="fixed inset-0 flex items-start justify-end p-6 px-4 py-6 pointer-events-none"
                    >
                        <div class="w-full max-w-sm">
                            <Notification
                                v-slot="{ notifications }"
                                enter="transform ease-out duration-300 transition"
                                enter-from="translate-y-2 opacity-0 sm:translate-y-0 sm:translate-x-4"
                                enter-to="translate-y-0 opacity-100 sm:translate-x-0"
                                leave="transition ease-in duration-500"
                                leave-from="opacity-100"
                                leave-to="opacity-0"
                                move="transition duration-500"
                                move-delay="delay-300"
                            >
                                <div
                                class="flex w-full max-w-sm mx-auto mt-4 overflow-hidden bg-white rounded-lg shadow-md"
                                v-for="notification in notifications"
                                :key="notification.id"
                                >
                                <div class="flex items-center justify-center w-12 bg-red-500">
                                <svg class="w-6 h-6 text-white fill-current" viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M20 3.36667C10.8167 3.36667 3.3667 10.8167 3.3667 20C3.3667 29.1833 10.8167 36.6333 20 36.6333C29.1834 36.6333 36.6334 29.1833 36.6334 20C36.6334 10.8167 29.1834 3.36667 20 3.36667ZM19.1334 33.3333V22.9H13.3334L21.6667 6.66667V17.1H27.25L19.1334 33.3333Z"/>
                                </svg>
                                </div>

                                <div class="px-4 py-2 -mx-3">
                                <div class="mx-3">
                                    <span class="font-semibold text-red-500">{{ notification.title }}</span>
                                    <p class="text-sm text-gray-600">{{ notification.text }}</p>
                                </div>
                                </div>
                                </div>
                            </Notification>
                        </div>
                    </div>
                </NotificationGroup>

                <NotificationGroup position="bottom" group="generic">

                    <div
                        class="fixed inset-0 flex items-start justify-end p-6 px-4 py-6 pointer-events-none"
                    >
                        <div class="w-full max-w-sm">
                            <Notification
                                v-slot="{ notifications }"
                                enter="transform ease-out duration-300 transition"
                                enter-from="translate-y-2 opacity-0 sm:translate-y-0 sm:translate-x-4"
                                enter-to="translate-y-0 opacity-100 sm:translate-x-0"
                                leave="transition ease-in duration-500"
                                leave-from="opacity-100"
                                leave-to="opacity-0"
                                move="transition duration-500"
                                move-delay="delay-300"
                            >
                                <div
                                class="flex w-full max-w-sm mx-auto mt-4 overflow-hidden bg-white rounded-lg shadow-md"
                                v-for="notification in notifications"
                                :key="notification.id"
                                >
                                <div class="flex items-center justify-center w-12 bg-blue-500">
                                    <svg class="w-6 h-6 text-white fill-current" viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M20 3.33331C10.8 3.33331 3.33337 10.8 3.33337 20C3.33337 29.2 10.8 36.6666 20 36.6666C29.2 36.6666 36.6667 29.2 36.6667 20C36.6667 10.8 29.2 3.33331 20 3.33331ZM21.6667 28.3333H18.3334V25H21.6667V28.3333ZM21.6667 21.6666H18.3334V11.6666H21.6667V21.6666Z"/>
                                    </svg>
                                </div>

                                <div class="px-4 py-2 -mx-3">
                                    <div class="mx-3">
                                    <span class="font-semibold text-blue-500">{{ notification.title }}Info</span>
                                    <p class="text-sm text-gray-600">{{ notification.text }}</p>
                                    </div>
                                </div>
                                </div>
                            </Notification>
                        </div>
                    </div>
                </NotificationGroup>
            </div>
            <template #logo>
                <inertia-link :href="route('dashboard')">
                    <img  class="block h-14 w-14" src="/dist/images/logo.png" alt="">
                </inertia-link>
            </template>

            <jet-validation-errors class="mb-4" />

            <div v-if="this.show_form != 0">
                <jet-label for="name" :value="__('Registration Code')" />
                <jet-input id="registration_code" type="text" class="mt-1 block w-full" v-model="form.registration_code" required autofocus autocomplete="registration_code" />
                
                <div class="mt-4" v-if="$page.props.jetstream.hasTermsAndPrivacyPolicyFeature">
                    <jet-label for="terms">
                        <div class="flex items-center">
                            <jet-checkbox name="terms" id="terms" v-model:checked="form.terms" />

                            <div class="ml-2">
                                I agree to the <a target="_blank" :href="route('terms.show')" class="underline text-sm text-gray-600 hover:text-gray-900">Terms of Service</a> and <a target="_blank" :href="route('policy.show')" class="underline text-sm text-gray-600 hover:text-gray-900">Privacy Policy</a>
                            </div>
                        </div>
                    </jet-label>
                </div>

                <div class="flex mt-4  justify-end">
                    <jet-button @click="check_reg_code" class="ml-4 content-end" :class="{ 'opacity-25': form.processing }" :disabled="form.processing">
                        {{__('Check')}}
                    </jet-button>
                    <jet-button @click="signIn()" type="button" class="transform duration-500 hover:scale-105 bg-theme-1 ml-4 content-end" :class="{ 'opacity-25': form.processing }" :disabled="form.processing">
                        {{__('Register with')}} <span class="xs:hidden lg:flex">{{__("MS Office 365")}}</span> <img class="w-7 h-4 px-1" src="/images/microsoft-logo.png" alt="">
                    </jet-button>
                </div>
            </div>

            <div v-if="this.show_form == 0">
                <form @submit.prevent="submit">
                <div>
                    <jet-label for="name" :value="__('Matricule')" />
                    <jet-input id="matricule" type="text" class="mt-1 block w-full" v-model="form.matricule" required autofocus autocomplete="name" />
                </div>
                <div>
                    <jet-label for="name" :value="__('Name')" />
                    <jet-input id="name" type="text" class="mt-1 block w-full" v-model="form.name" required autofocus autocomplete="name" />
                </div>

                <div class="mt-4">
                    <jet-label for="email" :value="__('Email')" />
                    <jet-input id="email" type="email" class="mt-1 block w-full" v-model="form.email" required />
                </div>

                <div class="mt-4">
                    <jet-label for="password" :value="__('Password')" />
                    <jet-input id="password" type="password" class="mt-1 block w-full" v-model="form.password" required autocomplete="new-password" />
                </div>

                <div class="mt-4">
                    <jet-label for="password_confirmation" :value="__('Confirm Password')" />
                    <jet-input id="password_confirmation" type="password" class="mt-1 block w-full" v-model="form.password_confirmation" required autocomplete="new-password" />
                </div>

                <div class="mt-4" v-if="$page.props.jetstream.hasTermsAndPrivacyPolicyFeature">
                    <jet-label for="terms">
                        <div class="flex items-center">
                            <jet-checkbox name="terms" id="terms" v-model:checked="form.terms" />

                            <div class="ml-2">
                                I agree to the <a target="_blank" :href="route('terms.show')" class="underline text-sm text-gray-600 hover:text-gray-900">Terms of Service</a> and <a target="_blank" :href="route('policy.show')" class="underline text-sm text-gray-600 hover:text-gray-900">Privacy Policy</a>
                            </div>
                        </div>
                    </jet-label>
                </div>

                <div class="flex items-center justify-end mt-4">
                    <inertia-link :href="route('login')" class="underline text-sm text-gray-600 hover:text-gray-900">
                       {{ __('Already registered?') }}
                    </inertia-link>

                    <jet-button class="ml-4" :class="{ 'opacity-25': form.processing }" :disabled="form.processing">
                        {{ __('Register') }}
                    </jet-button>
                </div>
                </form>
            </div>
        </jet-authentication-card>
    </div>
</template>

<script>
    import JetAuthenticationCard from '@/Jetstream/AuthenticationCard'
    import JetAuthenticationCardLogo from '@/Jetstream/AuthenticationCardLogo'
    import JetButton from '@/Jetstream/Button'
    import JetInput from '@/Jetstream/Input'
    import JetCheckbox from "@/Jetstream/Checkbox";
    import JetLabel from '@/Jetstream/Label'
    import JetValidationErrors from '@/Jetstream/ValidationErrors';
    import * as Msal from "@azure/msal-browser";

    // Configuration object constructed.
    const config = {
        auth: {
            clientId: '48ea923e-5902-4d34-ad52-68b313d98a68',
            redirectUri: "https://mydigitallibrary.test/register",
            postLogoutRedirectUri: "/logout"
        }
    };

    const myMsal = new Msal.PublicClientApplication(config);
    const account = new Msal.PublicClientApplication(config).getAllAccounts()[0];
    
    const accessTokenRequest = {
        scopes: ["openid","email" ,"profile", "User.Read"],
        account: account
    }

    const loginRequest = {
        scopes: ["openid","email", "profile", "User.Read.All"]
    };

   
    export default {
        components: {
            JetAuthenticationCard,
            JetAuthenticationCardLogo,
            JetButton,
            JetInput,
            JetCheckbox,
            JetLabel,
            JetValidationErrors,
        },
        mounted() {
            
        },

        data() {
            return {
                form: this.$inertia.form({
                    type: '',
                    matricule: '',
                    name: '',
                    email: '',
                    password: '',
                    password_confirmation: '',
                    registration_code : '',
                    terms: false,
                }),
                show_form : -1
            }
        },

        methods: {
            submit() {
                this.form.type = "APP" ;
                this.form.post(this.route('register'), {
                    onFinish: () => this.form.reset('password', 'password_confirmation'),
                })
            },

            callAPI(access_token){
                var headers = new Headers();
                var bearer = "Bearer " + access_token;
                headers.append("Authorization", bearer);
                var options = {
                    method: "GET",
                    headers: headers
                };
                var graphEndpoint = "https://graph.microsoft.com/v1.0/me";

                fetch(graphEndpoint, options)
                    .then(function (response) {
                        //do something with response
                        console.log(response);
                });
            },


            signIn(){
                const main = this;
                myMsal.loginPopup(loginRequest)
                .then(function (loginResponse) {
                  
                    console.log(loginResponse.account);

                    //Creation de compte
                    main.form.type = "API" ;
                    main.form.matricule = " " ;
                    main.form.email = loginResponse.account.idTokenClaims.email; 
                    main.form.name = loginResponse.account.name;
                    main.form.password = "UserFromOffice365"
                    main.form.password_confirmation = "UserFromOffice365"
                    main.form.post(main.route('register'), {
                        onFinish: () => main.form.reset('password', 'password_confirmation'),
                     })
                    
                }).catch(function (error) {
                    //login failure
                    console.log(error);
                });
              
            },

            check_reg_code() {
              
                var route = "https://mydigitallibrary.test/register/check";
                //console.log(this.form.registration_code);
                axios.post(route, this.form)
                    .then(res => {
                        console.log(res.data);
                        this.show_form = res.data;
                     
                        if(this.show_form == 0){
                            this.$notify({
                                group: "generic",
                                title: "Success",
                                text: "Code Correct"
                            }, 4000)

                        }else if(this.show_form == 1){
                            this.$notify({
                                group: "error",
                                title: "Warning",
                                text: "Code Already Used"
                            }, 4000)

                        }else{
                             this.$notify({
                                group: "error",
                                title: "Error",
                                text: "Code Incorrect"
                            }, 4000)
                        }
                       
                    })
                    .catch(error => {
                        console.log(error);
                    });
        
            }
        }
    }

    //    // Display signed-in user content, call API, etc.
    // myMsal.acquireTokenSilent(accessTokenRequest).then(function(accessTokenResponse) {
    // // Acquire token silent success
    // let accessToken = accessTokenResponse.accessToken;
    // // Call your API with token
    // ///main.callAPI(accessToken);

    // }).catch(function (error) {
    //     //Acquire token silent failure, and send an interactive request
    //     if (error instanceof Msal.InteractionRequiredAuthError) {
    //         myMsal.acquireTokenPopup(accessTokenRequest).then(function(accessTokenResponse) {
    //             // Acquire token interactive success
    //             let accessToken = accessTokenResponse.accessToken;
    //             // Call your API with token
    //             //main.callAPI(accessToken);
    //         }).catch(function(error) {
    //             // Acquire token interactive failure
    //             console.log(error);
    //         });
    //     }
    //     console.log(error);
    // });
</script>

 